@use "../../../styles/variables" as *;

.header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

  .homeButtonContainer {
    display: flex;
    align-items: center;
    cursor: pointer;

    .homeIconButton {
      margin-right: $spacing-unit;
      color: inherit;
    }

    .homeTypography {
      font-weight: $font-weight-bold;
      margin-top: $spacing-unit / 4;
      @media (max-width: 600px) {
        display: none;
      }
    }
  }

  .spacer {
    flex-grow: 1;
  }

  .darkModeToggle {
    display: flex;
    align-items: center;
    margin-right: $spacing-unit;

    .darkModeIconButton {
      margin-left: $spacing-unit;
      color: inherit;
    }
  }

  .logoutButton {
    text-transform: none;
    font-weight: $font-weight-medium;
    @include transition(background-color, 0.3s, ease);
    @include transition(transform, 0.3s, ease);
    color: inherit;

    &:hover {
      transform: scale(1.05);
    }
    .logoutButtonText {    
      @media (max-width: 600px) {
        display: none;
      }
    }
  }
}