@use "../../../../styles/variables" as *;

.detailsTabContainer {
  padding: $spacing-unit * 3;
  background-color: var(--background-color);
  border-radius: $border-radius-medium;
  box-shadow: $box-shadow-medium;

  .title {
    margin-bottom: $spacing-unit;
    color: var(--text-primary-color);
  }

  .price {
    color: var(--primary-color);
    margin-bottom: $spacing-unit;
  }

  .ratingContainer {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-unit * 2;

    .ratingText {
      margin-left: $spacing-unit / 2;
      color: var(--text-secondary-color);
    }
  }

  .infoGrid {
    margin-bottom: $spacing-unit * 2;

    .infoItemTitle {
      color: var(--text-secondary-color);
    }

    .infoItemContent {
      color: var(--text-primary-color);
    }
  }

  .description {
    .descriptionTitle {
      color: var(--text-secondary-color);
    }
    .descriptionBody {
      color: var(--text-primary-color);
    }
  }
}