@use "../../../styles/variables" as *;

.footer {
  padding-top: $spacing-unit * 2; // py: 2
  padding-bottom: $spacing-unit * 2;
  padding-left: $spacing-unit * 4; // px: 4
  padding-right: $spacing-unit * 4;
  margin-top: auto;
  text-align: center;
  .footerText {
    text-align: right;
  }
}