@use "../../../../styles/variables" as *;

.commentFormPaper {
  padding: $spacing-unit * 2;
  margin-top: $spacing-unit * 4;

  .title {
    margin-bottom: $spacing-unit;
  }

  .form {
    margin-top: $spacing-unit;

    .ratingContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: $spacing-unit * 2;

      .errorText {
        color: var(--error-color);
        margin-top: 4px;
        font-size: 0.75rem;
      }
    }

    .errorText {
      color: var(--error-color);
    }

    .textField {
      margin-bottom: $spacing-unit * 2;
    }

    .buttonContainer {
      display: flex;
      justify-content: flex-end;

      .sendButton {
        @include transition(transform, 0.2s, ease-in-out);
        color: var(--primary-color);

        &:hover {
          transform: scale(1.1);
        }
        &:disabled {
          color: gray;
        }
      }
    }
  }
}